<h1>Author Detail Page</h1>
<p>
  <strong>Name</strong>
  <%= @author.name %>
</p>
 
<p>
  <strong>Homepage</strong>
  <%= @author.homepage %>
</p>

<%= link_to 'Edit', edit_author_path(@author) %>
<%= link_to 'Delete', author_path(@author), data: { method: "delete", confirm: 'Are you sure?' } %>